{{!-- 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
     <h1> {{name}} </h1>
        <p>birthdate: {{birthdate}}</p>
        <p>birthplace: {{birthplace}}</p>
        <p>deathdate: {{deathdate}}</p>
        <p>deathdate: {{deathdate}}</p>
        <p>deathplace: {{deathplace}}</p>
        <p>nationality: {{nationality}}</p>
        <p>occupation: {{occupation}}</p>
        <br>
       {{#if known_for}} known_for
       {{/if}}  
       <br>

    <h2> education </h2>   
    {{#each education}}
    <p>degree:{{degree}}</p>
    <p>field: {{field}}</p>
    <p>institution: {{institution}}</p>
    <p>year: {{year}}</p>
    {{/each}}
    <br>
    <h2>notable_publications</h2>
    {{#each notable_publications}}
    <p>title: {{title}}</p>
    <p>year: {{year }}</p>
    <p>publisher: {{publisher}}</p>
    {{/each}}
    <br>
    <h2>partners</h2>
    {{#each partners}}
    <p>name: {{name}}</p>
    <p>relationship: {{relationship}}</p>
    <p> years:{{ years:}}</p>
    {{/each}}
    <hr>
    <h2>awards</h2>
    {{#each awards}}
    <p>title: {{title}}</p>
    <p> year: {{ year}}</p>
    <p>description: {{description}}</p>
    {{/each}}
    <br>
    {{> title data="influences" big=true}}
    {{#each education}}
    <li>{{this}}</li>
    {{/each}}
    <br>
    <h2>major_discoveries</h2>
    {{#each major_discoveries}}
    <p>title: {{title}}</p>
    <p>year: {{year}}</p>
    <p>description: {{description}}</p>
    {{/each}}
    <br>
    
    {{> title data="contributions" big=true}}
    {{#with contributions}}
    <p> contributions:{{title}},
     {{description}},
     {{year}},
    {{field}}</p>
    {{/with}}
</div>

{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}
