{{!-- 
Це код container файлу для task21 сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}
<main  class="p-5">
   {{#with navigation}} 
    <div class="rov g-2">
        <div class="col-6">
            <div class="col-12 mb-3">
               <div class="nav nav-tabs">
                 {{#each links}}
                    <div class="nav-item">
                         <a href={{href}} class="nav-link active"> {{text}} </a>
                   </div>
                   {{/each}}     
                 </div>  
            </div>
        </div>
     </div>    
    {{/with}}
	<hr>

    <h1>{{header}}</h1>
	<hr>
    {{#with contacts_data}}
     <h2>{{title}}</h2>
        <div class="rov g-6">
            <div class="col-6">
             <div class="col-12 mb-3">
               <div class="btn btn-tabs">
                {{#each buttons}}
                    <div class="btn btn-warning">
                        <a isPrimary{{isPrimary}} isOutline{{isOutline}} class="text-uppercase"> {{text}}</a>
                    </div>
                {{/each}}
                </div>
            </div> 
          </div> 
        </div>     
    

    <div class="row g-8">
        <div class="col-4 ">
               <div class="form">
                  {{#each form.input}}
				<div class="col-12 mb-2">
					<label class="form-label">{{label}}</label>  
					<select class="form-control form-control-lg"><option>{{placeholder}}</option> </select>
					<div class="form-text form-select-ln">{{caption}}</div>
				 </div>	
				 {{/each}}  

				 <hr>
				 {{#each form.switch}}
				 <div class="col-12 mb-2">
					<div class="form-check form-switch">
						<label class="form-check-label">{{text}}</label>
						<input name="{{isActive}}" type="checkbox" class="form-check-input">
					</div>
				</div>
				 {{/each}}
              </div>    
         </div>
     </div>
	 <hr>
 {{/with}} 


 

<div class="row g-1 "></div>
	<div class="card col-4 ">
		<div class="col-12 mb-3">
		<div class="btn">		
			<a  class="btn btn-success"> {{action_block.[0].text}}</a>
			<a  class="btn btn-danger"> {{action_block.[1].text}}</a>
			<a  class="btn btn-info"> {{action_block.[2].text}}</a>	
		</div>
		</div>	
	</div>    
 </div>


 <div class="card col-4 mb-3">
	<div class="row g-1">
	<div class="col-12">
     <div class="card-body p-2 pb-1"></div>  
	<h2 class="card-title">{{total.title}}</h2>   
	{{#each total.item_list}} 	 
		<div>{{name}} : {{price}} </div>
	{{/each}}
		<hr>	
	{{#each total.additional_info}}		
		<div>{{text}} : {{value}} </div>
	{{/each}}
	<hr>	
	{{text.total_price.text}} : {{total.total_price.value}} 
	<hr>	
	{{#each total.button}}
		<div>
			<div 
				class="btn  {{#if isPrimary}} btn-primary{{/if}}
				 {{#if isOutline}} btn-outline-primary {{/if}} mb-2">
			</div>
		</div>	
    {{/each}}
  			 </div>	
		</div>    
	</div> 
</div>
       


<div class="row g-5">
<div class="card col-8">
	{{#with delivery}}
		<h3 class="mb-4">{{title}}</h3>
		{{#each select}}
		<label class="form label">{{label}}</label>
		<div class="col-4 row p-3">
			<select class="form-selact form select mb-2">
				<option selected>{{plaseholder}}</option>
					{{#each options}}
					<option value="{{value}}">{{text}}</option>
					{{/each}}
			</select>
		</div>
		{{/each}}
	
</div>
</div> 

<hr>
  {{#each delivery_type}}
  <div class="form-check">
	 <label class="form-check-label">{{type}}</label>
	 <input name="form" type="radio" class="form-check-input">
  </div>
  {{/each}}
  {{/with}}

  <hr>
  {{#with payment}}
  <h1>{{title}}</h1>
  {{#each list}}
     <div class="form-check">
		<label class="form-check-label">{{type}} {{description}}</label>
	    <input name="form" type="radio" class="form-check-input">
	 </div>
  {{/each}}
  {{/with}}


</main>




{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}
