
<main class="m-4">
    <div class="col-4">
        {{#with navigation}}
        <div class="row g-2">
            <div class="col-12 mb-5">
               <ul class="nav nav-tabs">
                   {{#each links}}
                    <div class="nav-item">
                         <a href={{href}} class="nav-link active">{{text}}</a>
                        </div> 
                     {{/each}}     
                 </ul>     
            </div>
        </div>
        {{/with}} 
    </div>

		 
		{{#with newsBlock}}
		<h2 class="text-center">{{title}}</h2>
		<div class="row g-1">
			{{#each cards}}
		  	<div class="col-3 g-2">
				<div class="col-12 mb-4">
					<div class="card text-bg-dark">
				<h5>{{title}}</h5>
				<div class="btn btn-success col-4 mb-2 {{#if isTop}}isTop{{/if}} btn  btn-danger{{#if isNew}}isNew{{/if}}"></div>
				<p>{{description}}</p>
				  </div>
				 </div>
			</div>
			 {{/each}}
	    </div> 
	  {{/with}}

<hr>
    
        <div class="col-8">
			{{#with goodsBlock}}
			<div class="row g-2">
             <div class="col-12 mb-5">
				<div class="nav nav-tabs">
				{{#each tabs}}
					<div class="nav-item">
						<a isActive{{isActive}} isDisabled{{isDisabled}} class="nav-link active">{{text}}</a>
					</div>            
				 {{/each}}
				 </div>
				  </div>
             </div> 
        </div>               
   
 <hr>


		<div class="row g-2">
	     {{#each cards}}
			<div class="col-4 g-2">
				<div class="card col-12  mb-2">		  
					<img class="card-img-top" src={{picture.image}}>
					<h5 class="card-title">{{title}}</h5>
					<p>{{description}}</p>
					<div class="btn btn-warning col-4 mb-2 {{#if isTop}}isTop{{/if}} btn  btn-info{{#if isNew}}isNew{{/if}}"></div> 
				</div>
			</div> 
			 {{/each}}
	    </div>
	  {{/with}}
   </div>



      <div class="card text-br-dark">
            <div class="alert alert-dark text-bg-dark">
				{{#with subscribe}}
                <h5 class="card-title text-bg-dark">{{header}}</h5>
                <p class="text-br-secondary">{{description}}</p>
					{{#each buttons}}
                <a href={{link}} class="btn btn-primary">{{text}}</a>
				  {{/each}}
				{{/with}}
            </div>
        </div>
</main>
 