{{!-- 
Це код container файлу для task21 сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}
<main  class="p-5">
   {{#with navigation}} 
    <div class="rov g-2">
        <div class="col-6">
            <div class="col-12 mb-3">
               <div class="nav nav-tabs">
                 {{#each links}}
                    <div class="nav-item">
                         <a href={{href}} class="nav-link active"> {{text}} </a>
                   </div>
                   {{/each}}     
                 </div>  
            </div>
        </div>
     </div>    
    {{/with}}
	<hr>


	<i class="bi bi-5-square-fill 50px"></i>

    <h1>{{header}}</h1>
	<hr>
	<div class="row">
		
    {{#with purchase}}
	    <div class="nav nav-tabs">
			<div class="col=12 mb-3">
              <a class="nav-tabs">{{tabs}}</a>
		  </div>
		</div>
	 {{#each actionBlock}}
        <div class="row">
            <div class="col-9">
             <div class="col-12 mb-3">
               <div class="btn btn-tabs">
				    <a href="{{placeholder}}" class="nav-link active"></a>
						
						<button  class="btn btn-success" {{#if isSuccess}}btn-success{{/if}} class="btn btn-outline"{{#if isOutline}}btn-outline{{/if}} class="btn btn-danger"{{#if isDanger}}btn-danger{{/if}}>{{text}}</button>			   				
                </div>
            </div> 
          </div> 
        </div>     
    {{/each}}
	<br>

	{{#each itemList}}
      <div class="row">
		<div class="col-3">
		<p>{{number}}</p>
		<p class="fw-medium text-lowcase">{{status}}</p>
		</div>
		<div class="col-2 me-5 ms-1">
			<p>{{amount.title}}</p>
			<span class="fw-medium">{{amount.value}}</span>
		</div>
		<div class="col-4">
			{{#each images}}
			   <img src="{{this}}"class="img">
			{{/each}}
		</div>
		<div class="col-2 ms-3 mt-4">
			{{#with button}}
			  {{#if isPrimary}}<a href="{{link}} " class="btn btn-primary">{{text}}</a>{{/if}}
			{{/with}}
		</div>
	  </div>
	  {{/each}}
	{{/with}}
	<br>

	{{#with userInfo}}
	<div class="card">
	<p>{{title}}</p>
	<div class="row">
		<div class="card">
			{{#each profileData}}
				<p>{{title}}</p>
				    
			{{/each}}
		</div>
	</div>
	</div>
	{{/with}}
</main>







{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}
