
<main class="p-5">
  {{#with navigation}} 
    <div class="rov g-2">
        <div class="col-6">
            <div class="col-12 mb-3">
               <div class="nav nav-tabs">
                 {{#each links}}
                    <div class="nav-item">
                         <a href={{href}} class="nav-link active">{{text}} </a>
                   </div>
                   {{/each}}
				   {{#each button}} 
						    <div class="btn btn-primary " src={{href}}>{{text}}</div>
				   {{/each}}  
                 </div>  
            </div>
        </div>
     </div>    
    {{/with}}
 <hr>

	
	{{#with header}}
	<h1>{{title}}</h1>
	<p>{{description}}</p>
		{{#each button}}
		<div class="btn btn-primary">
		     <button class="btn btn-light " src={{link}}>{{text}}</button>
		</div>
		{{/each}}
	{{/with}}
	<br>
	<hr>


	<div class="card col-12  mb-2"> 
	  {{#with city}} 
	   <h2 class="text-center">{{title}}</h2>
	   <div class="row">
	     {{#each cards}}
			<div class="col-6 g-2">
				<div class="card">		  
					<img class="card-img-top" src={{picture.srs}} alt="{{picture.alt}}">
					<h5 class="card-title">{{title}}</h5>
					<p>{{description}}</p>
					<a href={{button.href}} btn class="btn col-4">{{text}}</a> 
				</div>
			</div> 
			 {{/each}}
	    </div>
	  {{/with}}
   </div>


<hr>

    <br>
    <br>
    <br>

	{{#with winner}}
     <h2>{{title}}</h2>
     {{#each winner.table}}
	   <section class="col-9"></section>
		<div class="table">
			<thead>
                <tr>
                    {{#each table.head}}
                    <th>{{this}}</th>
                    {{/each}}
                </tr>
            </thead>
        <tbody>
            <tr>
                <th>{{user.[0].place}}</th>
                <td>{{user.[0].name}}</td>
                <td>{{user.[0].surname}}</td>
                <td>{{user.[0]nickname}}</td>
			</tr>	
        </tbody>
		</div>
     </section>
	   {{/each}}
	 {{/with}}

         <div class="col-12">
         {{#with gallery}}
			<h5 class="display-7">{{title}}</h5>
			 <div class="card text-br-pimary row-4">
             <div class="card-header col-4 pt-3">
				{{#each cards.gallery}}
					<ul class="List-group list-group-flush text-br-primary">
						<li class="List-group-item">
							<a href="#" class="btn btn-link">{{name}}</a>
						<ul class="List-group"></ul>
						</li>
						<li class="List-group-item">
							<a href="#" class="btn btn-link">{{items}}</a>
						</li>
					</ul>
				{{/each}}
			 </div>
			 </div>
		  {{/with}}
		 </div>   
        

    <br>
    <br>
    <br>

      {{#with relaxion}}
	  <p>title {{title}}</p>
	   <div class="card text-br-pimary">
        <div class="card-header col-5">
	     {{#each cards.relaxion}}
			<ul class="List-group"></ul>
                </li>
                <li class="List-group-item">
                    <a href="#" class="btn btn-link">{{header}}</a>
                </li>
                <li class="List-group-item">
                    <a href="#" class="btn btn-link">{{title}}</a>
                </li>
                <li class="List-group-item">
                    <a href="#" class="btn btn-link">{{description}}</a>
                </li>
            </ul>
		 {{/each}}
		</div>
	   </div>
	  {{/with}}

	  <div class="card-header col-5">
		{{#with rest}}
		   <h3 class="display-7"></h3></div>
		     {{#each cards.rest}}
              <ul class="List-group list-group-flush text-br-primary">
                <li class="List-group-item">
                    <a href="#" class="btn btn-link">{{header}}</a>
                <ul class="List-group"></ul>
                </li>
                <li class="List-group-item">
                    <a href="#" class="btn btn-link">{{title}}</a>
                </li>
                <li class="List-group-item">
                    <a href="#" class="btn btn-link">{{button}}</a>
                </li>
                <li class="List-group-item">
                    <a href="#" class="btn btn-link">{{footer}}</a>
                </li>
            </ul>
			{{/each}}
		{{/with}}
	  </div>
        
         
     <br>
     <br>
     <br>
</main>
