{{!-- 
Це код container файлу для task21 сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
    {{#with main}} 
      <main>
        <section>
            {{> title data="My heading" big=true}}
            <h1>heading</h1>
              <p>title: {{title:}}</p>
              <p>text: {{text}}</p>
              <hr>
              <button type="button" class="btn btn-primary">Open page</button>
              <button type="button" class="btn btn-outline-primary">Add to cart</button>
              {{#each button_text}} {{/each}}

              <hr>
              <h2>second</h2>
                <p>title: {{title:}}</p>
                <p>text: {{text}}</p>
                 <button type="button" class="btn btn-secondary">Open page</button>
                 <button type="button" class="btn btn-outline-secondary">Add to cart</button>

                 <br>
                 <h3>subblock</h3>
                   <p>title: {{title}}</p>
                   <p>text: {{text}}</p>
                   <button type="button" class="btn btn-dark">Open page</button>
                   <button type="button" class="btn btn-outline-dark">Add to cart</button>
        </section> 
        <section>
            <hr>
            <h1>nested_display</h1>
               <p>title: {{title}}</p>
               {{#each children_display}}
               <p>{{title}}{{text}}</p>
               {{/each}}
               <button type="button" class="btn btn-warning">Open</button>
               <hr>
               <h6>header_text</h6>
               <button type="button" class="btn btn-info">Learn more</button>
        </section>

        <section>
            <p>paragraph</p>
            {{#each paragraph}}
              <p>title: {{title:}}</p>
              <p>text: {{text}}</p>
              <button type="button" class="btn btn-outline-light">Open link page</button>
              <button type="button" class="btn btn-outline-light">https://google.com</button>
              <hr>
              <p>list_name: {{text}}{{url}}</p>

            {{/each}}
        </section>
      </main>     
    {{/with}}
</div>

{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}
