<main>

  <p>navigation</p>
  {{#with navigation}}
  {{#each links.navigation}}
  <button class="btn btn-light " src="{{href}}">{{text}}</button>
  {{/each}}
  {{#each button}}
  <button class="btn btn-light text-bg-primary" src="{{href}}">{{text}}</button>
  {{/each}}
  <br>
  {{/with}}
 <hr>

  <h1>{{title}}</h1>
 {{#with header}}
 <div>{{description}}</div>
 {{#each button}}
<button class="btn btn-light text-bg-info" src="{{link}}">{{text}}</button>
  {{/each}}
  {{/with}}
  <br>
  <hr>

    {{#with city}}
	<h2>{{title}}</h2>
    <div class="row 12 g-3">
     <section class="col-5 gy-4">
        <div class="card text-br-dark">
             {{#each cards.title}}
            <img class="card-img-top" picture {{srs}}, {{alt}}>
            <div class="card-body">
                <h5 class="card-title text-bg-primary">{{title}}</h5>
                <p class="text-br-secondary">{{description}}</p>
                <a href={{href}} class="btn btn-primary"  src={{src}}>{{text}}</a>
            </div>
			{{/each}}
        </div>
    </section>
	{{/with}}

<hr>

    <br>
    <br>
    <br>
	{{#with winner}}
     <p>{{title}}</p>
     <table class="table table-striped table-brodered col-5">
		{{#each table.winner}}
        <head> {{#}}  {{name}}  {{surname}}  {{nickname}} </head>

        <body>
            <tr>
                <th>{{place}}</th>
                <td>{{name}}</td>
                <td>{{surname}}</td>
                <td>{{nickname}}</td>
        </body>
     </table>
	 {{/with}}

         <div class="col-12">
         {{#with gallery}}
			<h5 class="display-7">{{title}}</h5></div>
			 <div class="card text-br-pimary row-4">
             <div class="card-header col-4 pt-3">
				{{#each cards.gallery}}
					<ul class="List-group list-group-flush text-br-primary">
						<li class="List-group-item">
							<a href="#" class="btn btn-link">{{name}}</a>
						<ul class="List-group"></ul>
						</li>
						<li class="List-group-item">
							<a href="#" class="btn btn-link">{{items}}</a>
						</li>
					</ul>
				{{/each}}
			 </div>
			 </div>
		  {{/with}}
		 </div>   
        

    <br>
    <br>
    <br>

      {{#with relaxion}}
	  <p>title {{title}}</p>
	   <div class="card text-br-pimary">
        <div class="card-header col-5">
	     {{#each cards.relaxion}}
			<ul class="List-group"></ul>
                </li>
                <li class="List-group-item">
                    <a href="#" class="btn btn-link">{{header}}</a>
                </li>
                <li class="List-group-item">
                    <a href="#" class="btn btn-link">{{title}}</a>
                </li>
                <li class="List-group-item">
                    <a href="#" class="btn btn-link">{{description}}</a>
                </li>
            </ul>
		 {{/each}}
		</div>
	   </div>
	  {{/with}}

	  <div class="card-header col-5">
		{{#with rest}}
		   <h3 class="display-7"></h3></div>
		     {{#each cards.rest}}
              <ul class="List-group list-group-flush text-br-primary">
                <li class="List-group-item">
                    <a href="#" class="btn btn-link">{{header}}</a>
                <ul class="List-group"></ul>
                </li>
                <li class="List-group-item">
                    <a href="#" class="btn btn-link">{{title}}</a>
                </li>
                <li class="List-group-item">
                    <a href="#" class="btn btn-link">{{button}}</a>
                </li>
                <li class="List-group-item">
                    <a href="#" class="btn btn-link">{{footer}}</a>
                </li>
            </ul>
			{{/each}}
		{{/with}}
	  </div>
        
         
     <br>
     <br>
     <br>

     {{/with}}
    </div>
</main>
