<main class="p-5">
  {{#with}}
    <p>navigation</p>
      {{#each navigation}}
    <button class="btn btn-light " src="https://github.com/">Home</button>
    <button class="btn btn-light" src="https://www.google.com/"> Contacts</button>
    <button class="btn btn-light" src="https://www.youtube.com/">Help</button>
    <button class="btn btn-light text-bg-primary" src="https://nodejs.org/en/">Lets start</button>
     {{/each}}
    <br>
  {{/with}}
  <p>Welcome to Our Website</p>
  <hr>

  {{#with city}}
    <h2>{{title}}</h2>
    <div class="row">
        {{#each cards}}
     <div class="col-4 gy-4">
        <div class="card">
            <img class="card-img-top" src="{{picture src}}" alt="{{picture alt}}">
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <p>{{description}}</p>
                <a href="{{button href}}" btn target="_blank" class="btn btn-primary"  src="https://github.com/">Read</a>
            </div>
        </div>
     </div>
        {{/each}}
    </div> 
   {{/with}}      

    <br>
    <br>
    <br>
     <p>winner</p>
     {{#with winner}}
     <h2>{{title}}</h2>
      <section class="col-3">
        <table class="table"></table>
      </section>
        <thead>
            <tr>
                {{#each table.head}}
                <th>{{this}}</th>
                {{/each}}
            </tr>
        </thead>

        <body>
            <tr>
                <th>{{user.[0].place}}</th>
                <td>{{user.[0].name}}</td>
                <td>{{user.[0].surname}}</td>
                <td>{{user.[0].nickname}}</td>
            </tr>
                    </body>
     {{/with}}

         <section class="col-12"> </section>
    <br>
    <br>
    <br>

           {{#with gallery}}
       
   

    <br>
    <br>
    <br>

      <div class="card text-br-pimary row-4">
        <div class="card-header col-4 pt-3">
            <h5 class="display-7">Picture history</h2></div>
            
              <ul class="List-group list-group-flush text-br-primary">
                <li class="List-group-item">
                    <a href="#" class="btn btn-link">The Mona Lisa</a>
                <ul class="List-group"></ul>
                </li>
                <li class="List-group-item">
                    <a href="#" class="btn btn-link">Painting,Oil on poplar panel</a>
                </li>
                <li class="List-group-item">
                    <a href="#" class="btn btn-link">1503-1519</a>
                </li>
            </ul>
        <div class="card text-br-pimary">
        <div class="card-header col-5">
            <h5 class="display-7">Picture history</h2></div>
              <ul class="List-group list-group-flush text-br-primary">
                <li class="List-group-item">
                    <a href="#" class="btn btn-link">The Persistence of Memory</a>
                <ul class="List-group"></ul>
                </li>
                <li class="List-group-item">
                    <a href="#" class="btn btn-link">Painting</a>
                </li>
                <li class="List-group-item">
                    <a href="#" class="btn btn-link">Oil on poplar panel</a>
                </li>
                <li class="List-group-item">
                    <a href="#" class="btn btn-link">1931</a>
                </li>
            </ul> 
            <div class="card text-br-pimary">
        <div class="card-header col-5">
            <h5 class="display-7">Picture history</h2></div>
              <ul class="List-group list-group-flush text-br-primary">
                <li class="List-group-item">
                    <a href="#" class="btn btn-link">The Starry Nigh</a>
                <ul class="List-group"></ul>
                </li>
                <li class="List-group-item">
                    <a href="#" class="btn btn-link">Painting,Oil on poplar panel</a>
                </li>
                <li class="List-group-item">
                    <a href="#" class="btn btn-link">1889</a>
                </li>
            </ul>   
            {{/with}} 
     <br>
     <br>
     <br>

     
    </div>
</main>
